In [1]:
import gc
import pandas as pd

In [ ]:
gc.collect() # removes unused/unneeded objects
trueNews = pd.read_csv('newsData/True.csv')
fakeNews = pd.read_csv('newsData/Fake.csv')

print("Preview of Fake News Articles:")
display(fakeNews.head())
print("Preview of True News Articles:")
display(trueNews.head())

Preview of Fake News Articles:

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

Preview of True News Articles:

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [19]:
print(f"True News Dataset Shape: {trueNews.shape}")
print(f"Fake News Dataset Shape {fakeNews.shape}")

print("\nColumns in the Dataset:")
print(trueNews.columns)

print("\nMissing Values in True News:")
print(trueNews.isnull().sum().sum())

print("\nMissing Values in Fake News:")
print(fakeNews.isnull().sum().sum())

True News Dataset Shape: (21417, 4)
Fake News Dataset Shape (23481, 4)

Columns in the Dataset:
Index(['title', 'text', 'subject', 'date'], dtype='object')

Missing Values in True News:
0

Missing Values in Fake News:
0

In [ ]:
print(trueNews.info())
print("\n", trueNews['subject'].value_counts())
print("\n", trueNews.nunique())
print("\n", f"Duplicated rows: {trueNews.duplicated().sum()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB
None

 subject
politicsNews    11272
worldnews       10145
Name: count, dtype: int64

 title      20826
text       21192
subject        2
date         716
dtype: int64

 Duplicated rows: 206

In [21]:
print(fakeNews.info())
print("\n", fakeNews['subject'].value_counts())
print("\n", fakeNews.nunique())
print("\n", f"Duplicated rows: {fakeNews.duplicated().sum()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB
None

 subject
News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: count, dtype: int64

 title      17903
text       17455
subject        6
date        1681
dtype: int64

 Duplicated rows: 3